{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "max-lines": [
      "error",
      { "max": 120, "skipComments": true, "skipBlankLines": true }
    ],
    "max-lines-per-function": [
      "error",
      { "max": 80, "skipComments": true, "skipBlankLines": true, "IIFEs": true }
    ],
    "no-multiple-empty-lines": [
      "error",
      { "max": 1, "maxEOF": 0, "maxBOF": 0 }
    ],
    "newline-before-return": "error",
    "curly": "error",
    "max-params": ["error", 3],
    "max-depth": ["error", 2],
    "no-implicit-coercion": ["error", { "allow": ["!!"] }],
    "no-negated-condition": "error",
    "array-bracket-newline": ["error", { "multiline": true, "minItems": 3 }],
    "array-element-newline": ["error", "consistent"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "no-unused-vars": 1,
    "no-undefined": 0,
    "no-param-reassign": 0,
    "linebreak-style": 0,
    "func-style": [2, "expression"],
    "no-self-assign": ["error", { "props": true }],
    "prefer-object-spread": "error",
    "max-classes-per-file": ["error", 1],
    "no-async-promise-executor": "error",
    "wrap-regex": "error",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/prop-types": 2,
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
    "react/jsx-sort-props": ["error", { "noSortAlphabetically": false }],
    "react/no-direct-mutation-state": "error",
    "import/prefer-default-export": 0,
    "react/no-unsafe": "error",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": 0,
    "react/jsx-key": 1
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  }
}
